App/.DS_Store
App.xcodeproj/xcuserdata/azaliahajrullina.xcuserdatad/xcschemes/xcschememanagement.plist
App.xcodeproj/project.xcworkspace/xcuserdata/azaliahajrullina.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
